// utils
@import "utils/variables/colors.scss";
@import "utils/breakpoints.scss";

// Pages Layout
@import "layout/header.scss";
@import "layout/main.scss";

// Components
@import "components/button.scss";
@import "components/filter.scss";
@import "components/addSeance.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {

    background-color: $secondary-color;
}








