.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  background-color: #680000;
  height: 12rem;
  width: 100%;
  align-items: center; }
  @media (min-width: 1024px) {
    .navbar {
      position: static;
      height: 4.5rem; } }
  .navbar__btn-asidebar, .navbar__btn-loupe {
    background: none;
    border: none; }
  .navbar__avatar {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    cursor: pointer; }
    @media (min-width: 1024px) {
      .navbar__avatar {
        display: none; } }
  .navbar__loupe {
    height: 100px;
    width: 100px;
    cursor: pointer; }
    @media (min-width: 1024px) {
      .navbar__loupe {
        height: 25px;
        width: 25px;
        margin: auto 1rem; } }
  .navbar__desktop-home, .navbar__desktop-profil, .navbar__desktop-logout {
    display: none; }
    @media (min-width: 1024px) {
      .navbar__desktop-home, .navbar__desktop-profil, .navbar__desktop-logout {
        display: flex; } }
  .navbar__logo {
    height: 25px;
    margin: auto 1rem; }
  .navbar__profil, .navbar__logout, .navbar__home {
    margin: auto 1rem;
    height: 25px;
    width: 25px; }
  .navbar__flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.aside-navbar {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  height: 100%;
  background-color: black;
  width: 35rem;
  color: white;
  font-size: 4rem; }
  .aside-navbar.aside-navbar--active {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (min-width: 1024px) {
      .aside-navbar.aside-navbar--active {
        display: none; } }
  .aside-navbar__avatar {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 2rem 0 0 2rem; }
  .aside-navbar__username {
    margin: 1rem 0 0 2rem;
    font-size: 5rem; }
  .aside-navbar__profil, .aside-navbar__home, .aside-navbar__add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem 2rem 0 2rem; }
  .aside-navbar__logout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem 5rem 2rem; }
  .aside-navbar__logo {
    height: 50px;
    width: 50px; }

.screen {
  transition: background-color 0.6s ease-out; }
  .screen.screen--active {
    background-color: rgba(0, 0, 0, 0.387);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5; }
    @media (min-width: 1024px) {
      .screen.screen--active {
        display: none; } }

.home {
  display: flex; }
  @media (min-width: 1024px) {
    .home {
      padding: 3rem;
      gap: 3rem; } }

.profil {
  display: none; }
  @media (min-width: 1024px) {
    .profil {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 2rem;
      background-color: #680000;
      color: white;
      height: fit-content; } }
  .profil__avatar {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 2rem; }
  .profil__username {
    font-size: 30px;
    font-weight: bold; }
  .profil__description {
    font-size: 30px;
    text-align: justify;
    margin: 2rem; }

.container-center {
  width: 100%; }

.wrap-seance {
  display: flex;
  flex-direction: column;
  background-color: #680000;
  margin: 3rem 0 0 0;
  color: white; }
  @media (min-width: 1024px) {
    .wrap-seance {
      padding: 2rem;
      border-radius: 10px; } }
  .wrap-seance__row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem; }
  .wrap-seance__flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem; }
  .wrap-seance__avatar {
    border-radius: 50%;
    height: 75px;
    width: 75px; }
  .wrap-seance__username {
    font-size: 30px;
    margin: auto 2rem;
    font-weight: bold; }
  .wrap-seance__date {
    font-size: 30px; }
  .wrap-seance__profil {
    display: flex;
    flex-direction: column; }
  .wrap-seance__name {
    font-size: 30px;
    font-weight: bold;
    text-align: center; }
  .wrap-seance__picture {
    margin: 2rem;
    border-radius: 15px;
    height: 40rem; }
  .wrap-seance__nb-like, .wrap-seance__nb-comment {
    margin: auto 2rem;
    font-size: 30px; }
  .wrap-seance__description {
    margin: 2rem;
    font-size: 30px;
    text-align: justify; }

.top-like {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 40rem;
  background-color: #680000;
  border-radius: 10px;
  padding: 2rem 1rem;
  color: #fff;
  font-size: 1.5rem; }
  @media (min-width: 1024px) {
    .top-like {
      display: flex;
      flex-direction: column;
      position: static;
      transform: none;
      padding: 2rem;
      border-radius: 10px;
      height: fit-content; } }
  .top-like.top-like--active {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media (min-width: 1024px) {
      .top-like.top-like--active {
        display: none; } }
  .top-like__title {
    font-size: 3rem;
    text-align: center;
    margin: 0 0 1rem 0; }
  .top-like__background {
    background-size: cover;
    box-shadow: 0 0 10px #000000;
    border-radius: 10px; }
  .top-like__background-dark {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 20rem;
    background: linear-gradient(#000000, #00000000);
    border-radius: 10px;
    font-size: 2rem; }

.screen-top-like {
  transition: background-color 0.6s ease-out; }
  .screen-top-like.screen-top-like--active {
    background-color: rgba(0, 0, 0, 0.387);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5; }
    @media (min-width: 1024px) {
      .screen-top-like.screen-top-like--active {
        display: none; } }

.heart-btn {
  position: fixed;
  bottom: 15rem;
  right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white; }
  @media (min-width: 1024px) {
    .heart-btn {
      display: none; } }

.filter {
  margin-top: 15rem; }
  @media (min-width: 1024px) {
    .filter {
      margin: 3rem 0; } }

.add-seance {
  display: none; }
  @media (min-width: 1024px) {
    .add-seance {
      display: flex;
      justify-content: center;
      color: white;
      margin: 3rem 0; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

body {
  background-color: rgba(0, 0, 0, 0.807); }

/*# sourceMappingURL=main.css.map */
