* {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    color: #fff;
}

body {
    background-color: #191919;
}

h3,
h4,
h5,
h6 {
    color: #fff !important;
}

a {
    text-decoration: none;
    color: #fff;
}

.date {
    font-weight: 600;
    font-size: 0.55em;
    color: #797979;
    margin-bottom: 0;
}

.infos {
    font-size: 0.8em;
    color: #797979;
    margin-bottom: 0;
}

.navbar {
    background-color: #680000;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0px 3px 15px -3px black;
}

.nav-link {
    color: #fff !important;
}

.navbar-text>.navbar-nav>.nav-item {
    padding-left: 50px;
}

#logo {
    height: 25px;
    width: auto;
}

.avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.avatar-2 {
    width: 60px;
    height: 60px;
}

.seance-picture {
    object-fit: cover;
    height: 150px;
    width: 250px;
    border-radius: 10px;
}

.btn-secondary {
    border: none;
    min-width: 100%;
    background-color: #131313;
}

.btn-secondary:hover {
    background-color: #090909;
}

.btn-primary {
    border: none;
    min-width: 100%;
    background-color: #680000;
}

.btn-primary:hover {
    background-color: #680000;
}

.btn-primary:active {
    background-color: chartreuse;
}

.card {
    margin: auto;
    background-color: #680000;
    border: none;
}


#login-register-div {
    overflow: hidden;
    border-bottom-left-radius: var(--bs-border-radius) !important;
    border-top-left-radius: var(--bs-border-radius) !important;
}

#login-register-img {
    /* width: auto; */
    object-fit: cover;
}

.login-register-link {
    text-decoration: underline;
}

#absolute-text {
    font-size: 0.8em;
    height: 100%;
    bottom: 0;
    background: linear-gradient(#ffffff00, #000000);
    border-bottom-left-radius: var(--bs-border-radius) !important;
}

.mt-6 {
    margin-top: 70px;
}

.description {
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    /* Limite le texte à 3 lignes */
    -webkit-box-orient: vertical;
    white-space: normal;
    line-height: 1.3em;
}

.search_bar {
    width: 60vw;
}

.nav-item {
    transition: transform 0.3s ease-out;
    transform: translateX(0%);
}

.nav-item.hidden {
    transform: translateX(400px);
}

.display-none {
    display: none;
}

#screen {
    transition: background-color 0.6s ease-out;
}

.black-screen {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}