* :not(input) {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

body {
    background-color: #191919;
}

.m-t-25 {
    margin-top: 25px;
}

.container {
    justify-content: center;
    background-color: #680000;
    border-radius: 50px;
    padding: 50px;
    margin: auto;
}

a {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
}

.black-btn {
    background-color: #191919;
}

.red-btn {
    background-color: #680000;
}

nav {
    background-color: #680000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

#logo {
    height: 70px;
    padding-top: 3px;
}

.img-crop {
    height: 50px;
    overflow: hidden;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 0 25px;
}